<%- include header %>

    <h1 style="margin-top:40px;"><%= __('howto_title') %></h1>
    <p style="margin-bottom:40px; font-size:18px; font-weight:bold; text-align:center;"><%= __('howto_prompt') %></p>
    <h2 id="manifestoList">
    <ol type="1">
        <li>
            <%= __('howto_list_1') %>
        </li>
        <li>
            <%= __('howto_list_2') %>
        </li>
        <li><%= __('howto_list_3') %></li>
        <li>
            <%= __('howto_list_4') %>
            <a href="http://twinery.org/">&nbsp;<%= __('howto_list_4_here') %></a>.
        </li>
        <li>
            <%= __('howto_list_5') %>
        </li>
        <li>
            <b><%= __('howto_list_6') %></b>
        </li>
        <li>
            <%= __('howto_list_7') %>
        </li>
        <li><%= __('howto_list_8') %></li>
        <li><%= __('howto_list_9') %></li>
        <li>
            <%= __('howto_list_10') %><a href="mailto:tenhoperguntas@cienciadatrabalho.info">&nbsp;<%= __('howto_list_10_mail') %></a>
        </li>
    </ol>

<%- include footer %>