<%- include header %>

    <div class="container">

        <div id="question">
                <%= __('landing_question') %>
        </div>
        <div id="answer">
                <%= __('landing_teaser') %>
        </div>
        <div id="story" class="container" style="height:60vh; border-top:2px solid black; padding-top:40px;">
                <p style="margin-bottom:40px; font-size:24px; font-weight:bold; text-align:center;"><%= __('landing_calltoaction') %></p>
                <iframe src="<%= story %>"></iframe> 
        </div>
    </div>

<%- include footer %>