<%- include header %>

    <div class="container">

        <div id="question">
                <%= question %>
        </div>
        <div id="answer">
                <%= teaser %>
        </div>
        <div id="story" class="container" style="height:60vh; border-top:2px solid black; padding-top:40px;">
                <iframe src="<%= story %>"></iframe> 
        </div>
    </div>

<%- include footer %>