<%- include header %>
    <container>
        <h1 style="margin-top:40px; margin-bottom:40px;"><%= __('Manifesto_Title') %></h1>
        <h2>
            <ol type="1" id="manifestoList">
                <li>
                    <%= __('Manifesto_1') %>
                </li>
                <li>
                    <%= __('Manifesto_2') %>
                </li>
                <li><%= __('Manifesto_3') %></li>
                <li>
                    <b><%= __('title') %></b> <%= __('Manifesto_4') %>
                </li>
                <li><%= __('Manifesto_5') %></li>
                <li>
                    <%= __('Manifesto_6') %>
                </li>
            </ol>
        </h2>
    </container>
    <%- include footer %>